<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Profile Page</title>
        <% include partials/head %>
    </head>

    <body class="signup2">
        <div class="container">
            <header class="text center">
                <h1>Profile Page</h1>
                <a href="/logout" class="btn btn-light btn-sm">
                    logout
                </a>
            </header>

            <hr>
            <div class="card-deck">
              <div class="card">
                <div class="card-body">
                  <div class="card-body">
                      <h3 class="card-title">
                          <span class="fa fa-user"></span> Local
                      </h3>
                      <p>
                          <strong>id</strong>: <%= user._id %> <br>
                          <strong>name:</strong> <%= user.local.name %> <br>
                          <strong>lastname:</strong> <%= user.local.lastname %> </br>
                          <strong>email:</strong>: <%= user.local.email %> <br>
                          <strong>password:</strong> <%= user.local.password %> <br>
                          <strong>age:</strong> <%= user.local.age %> <br>
                          <strong>sex:</strong> <%= user.local.sex %> <br>
                          <strong>studies:</strong> <%= user.local.studies %> <br>
                          <strong>role:</strong> <%= user.local.role %> <br>
                      </p>
                  </div>
                </div>
                <div class="card-footer">
                  <a href="/logout" class="btn btn-danger">
                      Logout
                  </a>
                  <a href="/" class="btn btn-secondary">
                      Index
                  </a>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="card-body">
                      <h3 class="card-title">
                          <span class="fa fa-money"></span> Wallet
                      </h3>
                      <br><br>
                        <blockquote class="blockquote text-center">
                          <h3>
                            <p class=mb-0>
                              <strong>Coins: </strong> <%= user.local.coins %>
                            </p>
                        </h3>
                        </blockquote>
                  </div>
                </div>
                <div class="card-footer">
                  <a href="/c0d315m" class="btn btn-success">
                      Give Coin
                  </a>
                  <a href="/p41C01n5" class="btn btn-warning">
                      Pay Coins
                  </a>
                </div>
              </div>
            </div>
        </div>
    </body>
</html>
