<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Profile Page</title>
        <% include partials/head %>
    </head>

    <body>
        <div class="container">
            <header class="text center">
                <h1>Profile Page</h1>
                <a href="/logout" class="btn btn-light btn-sm">
                    logout
                </a>
            </header>

            <hr>
            <div class="card-deck">
              <div class="card">
                <div class="card-body">
                  <div class="card-body">
                      <h3 class="card-title">
                          <span class="fa fa-user"></span> Local
                      </h3>
                      <p>
                          <strong>id</strong>: <%= user._id %> <br>
                          <strong>name:</strong> <%= user.local.name %> <br>
                          <strong>lastname:</strong> <%= user.local.lastname %> </br>
                          <strong>email:</strong>: <%= user.local.email %> <br>
                          <strong>password:</strong> <%= user.local.password %> <br>
                          <strong>age:</strong> <%= user.local.age %> <br>
                          <strong>sex:</strong> <%= user.local.sex %> <br>
                          <strong>studies:</strong> <%= user.local.studies %> <br>
                          <strong>role:</strong> <%= user.local.role %> <br>
                      </p>
                  </div>
                </div>
                <div class="card-footer">
                  <a href="/logout" class="btn btn.light">
                      Logout
                  </a>
                  <a href="/addInformation" class="btn btn.light">
                      Complete profile
                  </a>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="card-body">
                      <h3 class="card-title">
                          <span class="fa fa-money"></span> Wallet
                      </h3>
                      <br><br>
                        <blockquote class="blockquote text-center">
                          <h3>
                          <p class=mb-0><strong>Coins: </strong></p><%= user.local.coins %>
                        </h3>
                        </blockquote>
                  </div>
                </div>
                <div class="card-footer">
                  <a href="/" class="btn btn.light">
                      Index
                  </a>
                </div>
              </div>
            </div>
        </div>
    </body>
</html>